<div class="well " style="margin-left: 30px; margin-right: 30px">
    @Html.ActionLink("Administrator","Index","Admin") | @Html.ActionLink("System Configuration", "Index", "System") |
    @Html.ActionLink("Event Manager", "Events", "Admin") | @Html.ActionLink("System Configuration", "BundleLogs", "Admin") |
    @Html.ActionLink("Features", "Features", "Admin") 
</div>